body, html {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: aliceblue;
}

/*This is the Header styling*/
.topHeader{
    position: static;
    width: 95%;
}

.menuStyle {
    position: absolute;
}

.icon{
    position: absolute;
    right: 150px;
}

#profileIcon{
    width: 100px;
}

#menuLinks {
    color: #FF1493;
    padding: 40px;
    font-size: 18px;
    font-family: sans-serif;
}

/*This is the content styling*/

#projectHeadings {
    text-align: center;
    color: #FF1493;
    padding-top: 100px;
    font-size: 50px;
    font-family: sans-serif;
}

#descriptions {
    color: #FF1493;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;

}

.images {
    margin: auto;
    max-width: 95%;
    padding-top: 180px;
    text-align: center;
}

#imagesShown {
    max-width: 700px; 
    padding: 20px;
    padding-bottom: 180px;
}

/*This is the footer styling*/
.projectFooter {
    padding-top: 200px;
    color: #FF1493;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

#contacts{
    padding-top: 20px;
    color: #FF1493;
    font-size: 40px;
    font-family: sans-serif;
}
