body, html {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: aliceblue;
}

/*This is the Header styling*/



/* position + width of the header*/
.topHeader{
    position: static;
    width: 95%;
}

/*position + width of the menu links*/
.menuStyle {
    position: absolute;
}

/*position + width of the profile icon*/
.icon{
    position: absolute;
    right: 100px;
}

/*size of profile picture*/
#profileIcon{
    width: 100px;
}

/*menu link styling*/
#menuLinks {
    color: #FF1493;
    padding: 40px;
    font-size: 18px;
    font-family: sans-serif;
}






/*This is the Content styling*/




/*heading styling*/
#projectHeadings {
    text-align: center;
    color: #FF1493;
    padding-top: 100px;
    font-size: 50px;
    font-family: sans-serif;
}

/*body text styling*/
#descriptions {
    color: #FF1493;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;

}

/*table size + position*/
.images {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding-top: 120px;
}

/*table row sizing*/
td {
    width: 500px;
    padding: 2%;
}

/*image sizing*/
#imagesShown {
    width: 100%;
    height: 100%;
}




/*This is the footer styling*/


.projectFooter {
    padding-top: 200px;
    color: #FF1493;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

#contacts{
    padding-top: 20px;
    color: #FF1493;
    font-size: 40px;
    font-family: sans-serif;
}

.simpleLogo{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 100px;
}

