body, html {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: aliceblue;
}

/*This is the Header styling*/

/*Container position + size*/
.topHeader{
    position: static;
    width: 95%;
    padding-bottom: 50px; 
}

/*links position*/
.menuStyle {
    position: absolute;
}

/*profile icon position*/
.icon{
    position: absolute;
    right: 150px;
}

/*profile icon size*/
#profileIcon{
    width: 100px;
}

/*menu link styling*/
#menuLinks {
    color: #FF1493;
    padding: 40px;
    font-size: 18px;
    font-family: sans-serif;
}




/*This is the Content styling*/

/*Header styling*/
#projectHeadings {
    text-align: center;
    color: #FF1493;
    padding-top: 100px;
    font-size: 50px;
    font-family: sans-serif;
}

/*Body text styling*/
#descriptions {
    color: #FF1493;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
}

/*image caption styling*/
#captions {
    color: #FF1493;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
}

/*image gallery position + size*/
.images {
    position: static;
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
}

/*table cell size*/
td {
    width: 700px;
    padding: 2%;
}

/*image sizing*/
#imagesShown {
    width: 100%;
    height: 100%;
}




/*This is the footer styling*/
.projectFooter {
    padding-top: 200px;
    color: #FF1493;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

#contacts{
    padding-top: 20px;
    color: #FF1493;
    font-size: 40px;
    font-family: sans-serif;
}

.simpleLogo{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 100px;
}

